:root {
  --background-color-header: rgb(199, 224, 241, 0.1);
  --hover-color: rgb(199, 224, 241, 1);
  --main-color: rgb(99, 98, 98);
  --background-color-main: rgb(241, 228, 202, 0.1);
  --background-color-menu: gb(212, 241, 240);
}
